:root {
    --salmon: #D08681;
    --sage: #6c9f8A;
    --gradient: linear-gradient(90deg, var(--salmon), var(--sage));

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; 
    border: none;
    
}

*::selection {
    background: var(--sage);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: #fff;
}

section {
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--gradient);
    font-size: 1.7rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rbga(0,0,0,.1);
    transition: all .3s linear;
}

.btn:hover {
    transform: scale(1.1);
}

.heading {
    text-align: center;
    background:var(--gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}

header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding: .5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo img {
    width: 10rem;
}
header .logo {
    font-size: 2rem;
    color: var(--sage);
}

header .logo span {
    color: var(--salmon);
}

header .navbar a {

    font-size: 1.7rem;
    margin-left: 2rem;
    color: var(--sage);
}

header .navbar a:hover {
    color: var(--salmon);
}

header input {
    display: none;
}

header label {
    
    font-size: 3rem;
    color: var(--salmon);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background:url("../imgs/backgroundalt.png") no-repeat;
    background-size: 100%;
    background-position: center;
    
}

.home .image img{
    margin-top: 100px;
    width: 40vw;
    animation: float 3s linear infinite;
}

@keyframes float {
    0%, 100%{
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-3.5rem);
    }

}

.home .content h3{

   

    font-size: 5.5rem;
    color: var(--salmon);
    text-transform: uppercase;
}

.home .content h3 span{
    color:var(--sage);
    text-transform: uppercase;
}

.home .content p{
    font-size: 2.0rem;
    color: #333;
    padding: 1rem 0;
}

.features {
    padding-top: 0;
    padding-bottom: 0;
}

.features .box-container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    }

.features .box-container .box {
    flex: 1 1 30rem;
    background: #fff;
    border-radius: .5rem;
    border: .2rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin: 1.5rem;
    padding: 5rem 2rem;
    border-radius: .5rem;
    text-align: center;
}

.features .box-container .box img{
    height: 20rem;
    
}

.features .box-container .box h3 {
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
    text-transform: capitalize;
}

.about {
    background-image: url("../imgs/about\ background.png");
    background-size: cover;
    background-position: center;
    
    padding-top: 0;
}

.about .column {
    display: flex;
    align-items: center;
    flex-direction: center;
    flex-wrap: wrap;
}

.about .column .image {
    flex: 1 1 40rem;
}

.about .column .image img{
    width: 100%;
}

.about .column .content {
    flex: 1 1 40rem;
}

.about .column .content h3{
    font-size: 3rem;
    color: #666;
    text-align: center;
}

.about .column .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.about .column .content .buttons a:last-child{
    
       margin-left: 2rem;
}

.about .buttons {
    display: flex;
    justify-content: center;
}
.features .box-container .box p {

    font-size: 1.3rem;
    color: #666;
    padding: 1rem 0;
} 

.footer {

padding-top: 3rem;
background:url("../imgs/footerbckrnd.png") no-repeat;
background-size: cover;
background-position: center;


}

.footer .box-container {

    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    
}

.footer .box-container .box{

    flex: 1 1 25rem;
    margin: 2rem;
    
}

.footer .box-container .box h3 {

    text-align: center;
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 1rem;


}

.footer .box-container .box p {

    text-align: center;
    font-size:2.5rem;
    padding: .5rem 0;
    color: #eee;
  }

  .footer .box-container .box .info {

    text-align: center;
    font-size:1.2rem;
    padding: .5rem 0;
    color: #eee;
  }


  .footer .box-container .box a {

    font-size: 2.5rem;
    padding: .5rem 0;
    color: #eee;
    text-align: center;
    display: block;


  }

  .footer .box-container .box a:hover {

   text-decoration: underline;


  }

  .footer h1 {
    text-align: center;
  }

@media (max-width: 1200px) {

    html {
        font-size: 55%;
    }

}

@media (max-width: 991px) {

    section {
        padding: 0 3%;
        padding-top: 7.5rem;
    }
}

@media (max-width: 768px) {

    header label {
        visibility: visible;
        opacity: 1;
    }

    header .navbar {
        position: absolute;
        top: 100%; left: 0;
        width: 100%;
        background: #fff;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba (0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba (0,0,0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
    }

    header input:checked ~ .navbar {

        transform: scaleY(1);
        opacity: 1;
       
    }

    header input:checked ~ label::before{
        content:'\f00d';
    }
    
    .home {
        flex-flow: column-reverse;
    }

    .home .image img {
        width: 100%;
    }

    .home .content h3 {
        font-size: 3.6rem;
    }
    .home .content p {
        font-size: 1.5rem;
    }

}

@media (max-width: 450px){

      html {
        font-size: 55%;
    }

}